# Vivado logs
*.jou
*.log

# Vivado cache directory
.Xil/

# Vivado project generated directories
*.cache/
*.hw/

# Ignore generated content in .gen except module_ref IP-XACT files
*.gen/*
!*.gen/sources_1/
*.gen/sources_1/*
!*.gen/sources_1/bd/
*.gen/sources_1/bd/*
!*.gen/sources_1/bd/mref/
!*.gen/sources_1/bd/mref/**

*.ip_user_files/
*.runs/
*.sim/

# Backup files
*.backup.jou
*.backup.log

# Vivado sub-projects
myproj/

# Generated within block design dirs
**/ui/
**/imports/

# Ignore generated IP build artifacts but track .xci config files
**/ip/**/*
!**/ip/**/*.xci
!**/ip/**/
