# Vivado logs
*.jou
*.log

# Vivado cache directory
.Xil/

# Vivado project generated directories
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# Backup files
*.backup.jou
*.backup.log

# Vivado sub-projects
myproj/

# Generated within block design dirs
**/ui/
**/imports/

# Ignore generated IP build artifacts but track .xci config files
**/ip/**/*
!**/ip/**/*.xci
!**/ip/**/
