# Vivado logs
*.jou
*.log

# Vivado cache directory
.Xil/

# Vivado project generated directories
*.cache/
*.hw/

# Ignore generated content in .gen except needed IP and design files
*.gen/*
!*.gen/sources_1/
*.gen/sources_1/*
!*.gen/sources_1/bd/
*.gen/sources_1/bd/*
!*.gen/sources_1/bd/mref/
!*.gen/sources_1/bd/mref/**
!*.gen/sources_1/bd/design_3/
!*.gen/sources_1/bd/design_3/**

*.ip_user_files/*
!*.ip_user_files/bd/
*.ip_user_files/bd/*
!*.ip_user_files/bd/design_3/
!*.ip_user_files/bd/design_3/**

*.runs/
*.sim/

# Backup files
*.backup.jou
*.backup.log

# Vivado sub-projects
myproj/

# Generated within block design dirs
**/ui/
**/imports/
